/*about, EULA, FAQ, features table,*/

h1, h2, p {
    margin: 2rem 20rem;
}

h1 {
<<<<<<< HEAD
    font-size: 23px;
    margin-top:3rem;
    margin-bottom: 2.5rem;
=======
    font-size: 20px;
>>>>>>> 62f8a435b7cefe3a15277dea784a9323c28c2531
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 16px;
}

.faq {
    margin: 2rem 23rem;
}