.left-col, .comment-box{
    display: block;
    float: left;
    margin: 1rem 3rem 1rem 20rem;
}

.right-col {
    display: block;
    float:left;
    margin: 1rem 20rem 1rem 3rem;
}

input[type=text]{
    width: 360px;
<<<<<<< HEAD
    padding: 10px 20px;
=======
    padding: 10px 18px;
>>>>>>> 62f8a435b7cefe3a15277dea784a9323c28c2531
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
<<<<<<< HEAD
    font-family: inherit;
=======
>>>>>>> 62f8a435b7cefe3a15277dea784a9323c28c2531
  }

textarea {
      display: block;
      float: inline-start;
      width: 360px;
      height: 120px;
<<<<<<< HEAD
      font-size: 16px;
      font-family: inherit;
=======
>>>>>>> 62f8a435b7cefe3a15277dea784a9323c28c2531
  }

  label {
    font-size: 16px;
    font-weight: 600;
  }

  input[type=submit] {
    width: 360px;
    padding: 12px 20px;
    margin: 4rem 20rem 1rem 3rem;
<<<<<<< HEAD
    background-color: #00356B;
=======
    background-color:darkblue;
>>>>>>> 62f8a435b7cefe3a15277dea784a9323c28c2531
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    float: left;
  }

  input[type=submit]:hover {
    background-color: royalblue;
  }

  .text-bottom {
      display: block;
      float: left;
      margin: 1rem 18rem 4rem 18rem;
      color: gray;
      font-size: 12px;
      line-height: 1;
  }

  .text-bottom p {
      margin: 15px;
  }

  
  