.tabcontent h1 {
    font-size: 20px;
}

.tabcontent ul a{
    color: darkblue;
    text-decoration: none;
}

.tabcontent label {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

select option {
    font-size: 16px;
    line-height: 40px;
    display: block;
    padding: 10px 20px;
}
  
  input[type=submit] {
    width: 100%;
    background-color:darkblue;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .checkbox-label{
      float: right;
      font-size: 12px;
  }

  input[type=text]::placeholder, .tabcontent option{
      font-size: 14px;
  }
  
  input[type=submit]:hover {
    background-color: royalblue;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid dimgray;
    text-align: left;
    padding: 8px;
    width: 50%;
  }

  #Match-Outcomes ul a:hover, #Reports ul a:hover {
     text-decoration: underline;
  }
  
  .tabcontent, .tabcontent.active {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 18px;
    line-height: 25px;
    min-width: 450px;
  }

.twitter-typeahead {
    width: 100%;
}

.tt-menu {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.tt-dataset{
    display: block;
    font-weight: normal;
    line-height: 40px;
}

.tt-hint {
    color: gray;
}

.tt-suggestion{
    display: block:
    padding-left: 30px;
}

.tt-suggestion:hover,
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
    background-color: gainsboro;
}